* {
    background-color: rgb(239, 245, 249);
    color: rgb(63, 61, 61);
}

.container {
    /* border: 3px solid greenyellow; */
    background-color: rgb(239, 245, 249);
}

.frontline {
    background-color: rgb(55, 47, 102);
    color: floralwhite;
    text-align: center;
    font-size: 22px;
    height: 36px;
    margin-top: 0rem;
    padding-top: 5px;
}

header {
    width: 100%;
    /* border: 3px solid black; */
    margin-top: 10px;
}

.navbar ul {
    overflow: auto;
    list-style: none;/* to delet the dot from list */
    /* border: 3px solid green; */
}

.navbar li {
    /* border: 1px solid black; */
    float: inline-start;
    font-size: 20px;
    padding: 0px;
    margin: 27px;
}

.navbar a{
    text-decoration: none;
    border-radius: 4px;
    padding: 0px;
    padding-block: 0px;
    margin-inline: 82px;
}

.navbar img {
    padding: 0px;
    height: 15%;
    width: 15%;
}

.contactbar{
    background-color: rgb(55, 47, 102);
    border: 2px solid yellow;
    display: flex;
    height: 53px;
    width: 100%;
}

#contact_bar img{
    background-color: rgb(55, 47, 102);
    /* margin-top: 22px; */
    /* margin-left: 70px; */
    height: 30px;
    /* margin-bottom: 20px; */
}

#call_img{
    /* border: 2px solid greenyellow; */
    margin: 10px;
    margin-left: 50px;
} 

#callno{
    background-color: rgb(55, 47, 102);
    color: white;
    font-size: large;
}

#insta_para{
    background-color: rgb(55, 47, 102);
    color: white;
    margin-left: 150px;
    font-size: large;
}

#insta_img{
    /* border: 2px solid greenyellow; */
    margin: 8px;
    margin-left: 20px;
}

#facebook_img{
    /* border: 2px solid greenyellow; */
    margin: 8px;
    margin-left: 45px;
}

.contactbar a{
    /* border: 3px solid gold; */
    background-color: rgb(55, 47, 102);
    padding: 0%;
    text-decoration: none;
}

#mail_img{
    /* border: 3px solid gold; */
    margin: 9px;
    margin-left: 200px;
}

#mail_para{
    background-color: rgb(55, 47, 102);
    color: white;
    font-size: large;
}

#cont_bar{
    color: white;
    padding-top: 17px;
    margin-left: 175px;
}